.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 20px;
}

.nav__logo > img{
    width: 6em;
}

.nav a, .cta {
    font-family: var(--font-open-sans);
    font-size: 10px;
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
    padding: 4px 18px;
    border-radius: 20px;
    box-shadow: rgba(255, 143, 216, .15) 1px 0px 3px 1px;
    text-decoration: none;
}

.header__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 80px 30px 0 30px;
}

/* Header IMG */ 
.header__figure {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
} .header__img {
    width: 100%;
}

/* Title styles */
.title {
    color: var(--neutral-very-dark-cyan);
    font-family: var(--font-poppins);
    font-weight: 700;
    text-align: center;
}

/* body styles */ 
.header__paragraph {
    width: 95%;
    font-family: var(--font-open-sans);
    color: var(--neutral-very-dark-cyan);
    font-size: 14px;
    margin: 25px 0;
    line-height: 22px;
    text-align: center;
}
 .cta {
     margin: 25px 0;
     font-size: 12px;
     font-weight: 600;
     padding: 10px 40px;
     border: none;
     background: var(--primary-pink);
     color: var(--neutral-pale-blue);
     box-shadow: var(--box-shadow) 0px 4px 3px;
 }

 /* Cards */
 .header__cards {
     width: 100%;
     margin-top: 25px;
     display: flex;
     flex-direction: column;
     align-items: center;
 } .header__card {
     /* background-color: chartreuse; */
     width: 200px;
     display: flex;
     flex-direction: column;
 }

 .header__card > figure {
     width: 100%;
 }

 .header__card > figure > img {
     width: 25px;
 }

 .header__card__text {
     margin: 0;
     padding: 0;
     font-size: 3.7rem;
     font-weight: 700;
     font-family: var(--font-open-sans);
     color: var(--neutral-very-dark-cyan);
 }

 .header__cards > .header__card:nth-child(2) {
     margin-top: 100px;
 }

 .header__paragrap {
     font-family: var(--font-open-sans);
     letter-spacing: .5px;
     font-size: 15px;
     text-align: center;
     margin-top: 10px;
 }

 .header__paragrap--color {
     color: #95a0a8;
 }

 @media (min-width: 712px) {
    .nav {
        padding: 4.5rem;
    }

    .nav__logo > img{
        width: 95%;
    }

    .nav a {
        font-size: 18px;
        padding: 6px 26px;
        border-radius: 20px;
    }

    .title {
        font-size: 3rem;
    }

    .header__main {
        padding: 8rem 30px 0 30px;
    }

    .header__paragraph {
        width: 43%;
        line-height: normal;
        font-size: 1.2rem;
        /* margin: 0; */
        margin: 15px 0 20px 0;
    }

    .cta {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 25px 100px;
        border-radius: 50px;
    }

    .header__figure {
        width: 70%;
    }.header__img {
        width: 100%;
    }
    
    .header__cards {
        /* background-color: rosybrown; */
        flex-direction: row;
        justify-content: space-evenly;
        
    }

    /* .header__card { */
        /* width: 300px; */
        /* background-color: royalblue;  */
    /* } */

    .header__card > figure > img {
        width: 40px;
    }

    .header__cards > .header__card:nth-child(2) {
        margin-top: 0!important;
    }

    .header__card__text {
        font-size: 4.4rem;
    }
 }
