.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px 10px;
}

.nav__logo > img{
    width: 40%;
}

.nav a {
    font-size: 10.5px;
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
    padding: 4px 15px;
    border-radius: 20px;
    text-decoration: none;
}