.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 30px 10px;
}

.nav__logo > img{
    width: 44%;
}

.nav a, .cta {
    font-family: var(--font-open-sans);
    font-size: 10px;
    color: var(--primary-light);
    border: 1px solid var(--primary-light);
    padding: 4px 18px;
    border-radius: 20px;
    box-shadow: rgba(255, 143, 216, .15) 1px 0px 3px 1px;
    text-decoration: none;
}

.header__main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 85px 40px;
    /* padding: 80px 30px 0 30px; */
}

/* Header IMG */ 
.header__figure {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
} .header__img {
    width: 100%;
}

/* Title styles */
.title {
    color: var(--neutral-very-dark-cyan);
    font-family: var(--font-poppins);
    font-weight: 700;
    text-align: center;
}

/* body styles */ 
.header__paragraph {
    width: 95%;
    font-family: var(--font-open-sans);
    color: var(--neutral-very-dark-cyan);
    font-size: 14px;
    margin: 25px 0;
    line-height: 22px;
    text-align: center;
}
 .cta {
     margin: 25px 0;
     font-size: 12px;
     font-weight: 600;
     padding: 13px 45px;
     border: none;
     background: var(--primary-pink);
     color: var(--neutral-pale-blue);
     box-shadow: var(--box-shadow) 0px 4px 3px;
 }

 /* Cards */
 .header__cards {
     width: 100%;
     margin-top: 25px;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* background: chocolate; */
 } .header__card {
     width: 60%;
     display: flex;
     flex-direction: column;
     margin: 30px 0;
     /* background: chartreuse; */
 }

 .header__card > figure {
     width: 100%;
 }

 .header__card > figure > img {
     width: 30px;
 }

 .header__card__text {
     margin: 0;
     padding: 0;
     font-size: 3.7rem;
     font-weight: 700;
     font-family: var(--font-open-sans);
     color: var(--neutral-very-dark-cyan);
 }

 .header__cards > .header__card:nth-child(2) {
     margin-top: 55px;
 }

 .header__paragrap {
     font-family: var(--font-open-sans);
     letter-spacing: .5px;
     font-size: 15px;
     text-align: center;
     margin-top: 10px;
 }

 .header__paragrap--color {
     color: #95a0a8;
 }

 .wave {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 100px;
     background-image: url('../images/bg-section-top-mobile-1.svg');
     background-repeat: no-repeat;
     background-size: cover;
     /* background-color: aqua; */
 }
