.main {
    display: flex;
    flex-direction: column;
}

.wave {
    width: 100%;
    height: 100px;
    background-size: 100% 100px;
}.wave--top-1 {
    background-image: url('../images/bg-section-top-mobile-1.svg');
}.wave--top-2 {
    background-image: url('../images/bg-section-top-mobile-2.svg');
} .wave--bottom-1 {
    background-image: url('../images/bg-section-bottom-mobile-1.svg');
}.wave--bottom-2 {
    background-image: url('../images/bg-section-bottom-mobile-2.svg');
}

.main__card {
    display: flex;
    flex-direction: column;
} .main__card--pale-blue {
    background: var(--neutral-pale-blue);
}

.main__card--ready {
    margin-bottom: 220px;
}

.main__card__images {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 75px 0;
} .main__card__image {
    width: 70%;
}

/* USERS */
.main__card__images--users {
    margin-top: 25px;
}

.main__card__text--users {
    margin-bottom: 60px;
}

.main__card__text {
    font-family: var(--font-poppins);
    color: var(--neutral-very-dark-cyan);
    padding: 0 40px; 
    font-weight: 700;
    text-align: center;
} .main__card__text > p {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 13px;
    margin: 12px 0 35px 0;
    line-height: 20px;
}

.main__card__text--flowing {
    margin-bottom: 70px;
}

.subtitle {
    margin: 100px 0 40px 0;
}

@media (min-width: 712px) {
    .main__card {
        flex-direction: row-reverse;
    }.main__card--row {
        flex-direction: row;
    }

    .main__card--ready {
        margin-bottom: 60px;
    }.subtitle {
        font-size: 2.4rem;
        margin: 0 0 60px 0;
    }

    .main__card:nth-child(2) {
        padding-top: 2rem;
    }.main__card:nth-child(4) {
        padding: 8rem 0 3rem;
    }.main__card:nth-child(6) {
        padding-top: 3rem;
    }.main__card:nth-child(8) {
        padding: 4rem 0;
    }

    .main__card__images {
        width: 50%;
    } .main__card__image {
        width: 75%;
    }
    .main__card__text {
        width: 50%;
        padding: 7%;
        margin: auto;
        text-align: left;
    }.main__card__text--ready {
        width: 100%;
        text-align: center;
    }

    .main__card__text h3 {
        font-size: 2.5rem;
        margin-bottom: 25px;
    }

    .main__card__text p {
        font-size: 1rem;
    }

    .wave--top-1 {
        background-image: url('../images/bg-section-top-desktop-1.svg');
    }.wave--top-2 {
        background-image: url('../images/bg-section-top-desktop-2.svg');
    } .wave--bottom-1 {
        background-image: url('../images/bg-section-bottom-desktop-1.svg');
    }.wave--bottom-2 {
        background-image: url('../images/bg-section-bottom-desktop-2.svg');
    }
}